<div class='container'>
  <div class='row'>
    <div class='col-12'>
      <h4>保存済み</h4>
      <div>
        <% @myfavorites.each do |myfavorite| %>
          <span>
            <%= link_to article_path(myfavorite.article.id) do %>
              <%= attachment_image_tag myfavorite.article, :image, class: 'favorite-image' %>
            <% end %>
          </span>
        <% end %>
      </div>
    </div>
  </div>
</div>