<% if !Favorite.exists?(user_id: current_user.id, article_id: article.id) %>
  <%= link_to article_favorites_path(article.id), method: :post, remote: true, class:"like-btn" do %>
    <i class="fas fa-star star-icon1"></i>
  <% end %>
  <span class="star-count1"><%= article.favorites.count %></span>
<% else %>
  <%= link_to article_favorite_path(article_id: article.id, id: article.favorites[0].id), method: :delete, remote: true, class:"like-btn" do %>
    <i class="fas fa-star star-icon2"></i>
  <% end %>
  <span class="star-count2"><%= article.favorites.count %></span>
<% end %>