<!--<%#= render "search/edit" %>-->
<!--<div class='main'>-->
  <%# 商品一覧 %>
<!--  <div class='article-contents'>-->
<!--    <div class="article-container">-->
<!--      <ul class='article-lists'>-->
<!--        <%# if @q.name_cont != nil %>-->
<!--          <h3 class="subtitle"><%#= "#{@q.name_cont} の検索結果" %></h3>-->
<!--        <%# else %>-->
<!--          <h3 class="subtitle"><%#= "検索結果" %></h3>-->
<!--        <%# end %>-->
<!--        <%#= render partial:"article", collection: @articles, locals: {article: @article} %>-->
<!--      </ul>-->
<!--    </div>-->
<!--  </div>-->
  <%# /商品一覧 %>
<!--</div>-->
<%#= render "shared/footer" %>






<!--<div class="container">-->
<!--  <div class="col-xs-12">-->
<!--    <%# if @model == "user" %>-->
<!--      <h2>Users search for '<%#= @value %>'</h2>-->
<!--      <%# @datas.each do |user| %>-->
<!--        <tbody>-->
<!--          <tr>-->
<!--            <th>-->
<!--              <%#= attachment_image_tag user, :profile_image, :fill, 50, 50, fallback: "no_image.jpg", class:"mt-3 rounded-circle"; %>-->
<!--            </th>-->
<!--            <th>-->
<!--              <%#= link_to user_path(user) do %>-->
<!--                <%#= user.name %>-->
<!--              <%# end %>-->
<!--            </th>-->
<!--          </tr>-->
<!--        </tbody>-->
<!--      <%# end %>-->
<!--      <%# elsif @model == "genre" %>-->
<!--      <h2>Genres search for '<%#= @value %>'</h2>-->
<!--      <%# @datas.each do |genre| %>-->
<!--        <tbody>-->
<!--          <tr>-->
<!--            <th>-->
<!--              <%#= render 'articles/list', articles: @articles %>-->
<!--            </th>-->
<!--          </tr>-->
<!--        </tbody>-->
<!--      <%# end %>-->
<!--      <%# elsif @model == "tag" %>-->
<!--      <h2>Tags search for '<%#= @value %>'</h2>-->
<!--      <%# @datas.each do |tag| %>-->
<!--        <tbody>-->
<!--          <tr>-->
<!--            <th>-->
<!--              <%#= attachment_image_tag tag, :profile_image, :fill, 50, 50, fallback: "no_image.jpg", class:"mt-3 rounded-circle"; %>-->
<!--            </th>-->
<!--          </tr>-->
<!--        </tbody>-->
<!--      <%# end %>-->
<!--    <%# end %>-->
<!--  </div>-->
<!--</div>-->