<div class="container">
  <div class="col-xs-12">
    <% if @articles.empty? %>
      <h5>該当はありません</h5>
    <% end %>
      <div>
        <%= render 'articles/list', articles: @articles %>
      </div>
  </div>
</div>

