<main>
  <div class = "container px-5 px-sm-0">
    <%= form_with model: @article, local:true do |f| %>
      <h5>写真</h5>
      <%= f.attachment_field :image, placeholder: "商品画像" %>
      <h5>ジャンル</h5>
      <%#= f.collection_select :genre_id, @genre, :id, :name,{ prompt: "--選択してください--" }  %>
      <h5>キャプションを書く</h5>
      <%= f.text_area :caption %>
      <%= f.submit 'シェア' %>
    <% end %>
  </div>
</main>
