<div class="rating-box mt-3">
  <%= form_with model: post_comment, url: article_post_comments_path(article), local: true do |f| %>
    <div class="main-raiting">
      <div class="raitings mb-3"></div>
    </div>
    <%= f.text_area :comment, class:"form-control book_body" %>
    <%= f.submit "送信", class:"btn btn-outline-dark comment-submit float-right" %>
  <% end %>
</div>