<!--<div class='container px-5 px-sm-0'>-->
<!--  <div class='row'>-->
<!--    <h5>コメント</h5>-->
<!--      <%# @post_comments.each do |post_comment| %>-->
<!--        <tr>-->
<!--          <td>-->
<!--            <%#= link_to user_path(@user) do %>-->
<!--              <%#= attachment_image_tag @user, :profile_image, :fill, 100, 100, fallback: "no-image-icon.jpg" %><br>-->
<!--              <%#= @user.name %>-->
<!--            <%# end %>-->
<!--          </td>-->
<!--          <td>-->
<!--            <%#= post_comment.content %>-->
<!--          </td>-->
<!--          <td>-->
<!--            <%# if @post_comments == @article.post_comments %>-->
<!--              <%#= link_to "Destroy", article_path(@post_comments), method: :delete, "data-confirm" => "Are you sure?" %>-->
<!--            <%# end %>-->
<!--          </td>-->
<!--        </tr>-->
<!--      <%# end %>-->
<!--      <tr>-->
<!--        <td>-->
<!--          <%#= render 'post_comments/form', post_comment: @post_comment, article: @article %>-->
<!--        </td>-->
<!--      </tr>-->
<!--  </div>-->
<!--</div>-->

