<%= link_to articles_path do %>
  <div class="top-main-visual">
    <div class="top-main-visual-content">
      <p class="top-main-visual-text">
        Welcome to Stylook<br>
        Let's post some great styling!
      </p>
    </div>
  </div>
<% end %>