/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


header {
  width: 90%; /* 横幅 */
  padding: 15px 0;
  margin: 0 auto;
  text-align: center;
  position: relative;
}

.top-main-visual {
  width: 900px;
  height: 1200px;
  text-align: center;
  margin: 20px auto;
  background-image: image-url("troy-wade-xXfQyHRSJTU-unsplash.jpg");
  background-size: 100%;
}

.top-main-visual-content {
  height: 1200px;
  margin: 5px 0;
  background-color: rgba(255, 255, 255, 0.7);
}

.top-main-visual-text {
  padding-top: 350px;
  font-size: 38px;
  font-weight: bold;
}

body {
  font-family: "Georgia";
}

.search {
  padding: 20px;
}


.box-prof {
  padding: 30px;
}

.prof .circle_icon{
    width:100px;
    height:100px;
    border-radius:50%;
    overflow: hidden;
    border:4px solid #fff;
    margin:-50px auto 0 auto;
}

.prof .name{
    padding:0 15px;
    text-align: center;
    font-size:18px;
    font-weight:500;
    /*color:#249bd2;*/
    margin:14px 0;
}

.text-area{
  white-space: pre-wrap;
}


@media screen and (max-width: 425px) {
  header {
    width: 100%;
  }

  .top-main-visual {
    width: 100%;
  }

  .top-main-visual-content {
    width: 100%;
  }

  body {
    width: 100%;
    display: block;
  }

  .box-prof {
    width: 100%;
  }
}



